$body-bg: #fff;

html {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.text-title {
  font-family: "Pacifico", cursive;
  font-weight: lighter;
  font-size: 26px;
}

.text-subtitle {
  font-size: 14px;
  font-family: "Lato", sans-sans-serif;
  font-weight: lighter;
}

.color-white {
  color: white !important;
}

.color-black {
  color: black;
}

.icon {
  size: 20px;
  margin: 10px;
}

.float-right {
  float: right;
}

.item-title {
  font-family: "Lato", sans-sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.item-desc {
  font-family: "Lato", sans-sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}
.item-price {
  font-family: "Pacifico", cursive;
  font-size: 18px;
  color: #10504f;
}